body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #6a1b9a;
    color: white;
    padding: 20px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

button {
    background: #6a1b9a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #4a148c;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}